@import '~@styles/colors.scss';
@import '~@styles/mixins/breakpoints.scss';

.root {
  display: flex;
  font-size: 12px;
  font-weight: 500;
  color: $dark;
  column-gap: 40px;
  padding-top: 15px;
  border-top: 1px solid $border;
}

.icon {
  color: $dark;
  display: inline-flex;
  margin-right: 10px;
  align-items: center;

  svg {
    height: 20px;
  }
}

.left {
  display: flex;
  flex: 1;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
}

.center {
  display: flex;
  gap: 24px;
  font-family: Gilroy-Regular, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

.link {
  text-decoration: none;
  color: $dark;
}

.copyright {
  @include respond-to('phone') {
    display: none;
  }
}

.socialWrapper {
  display: flex;
  align-items: center;
  column-gap: 14px;
}

.social {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: $dark;
  width: 18px;
}