@import '~@styles/colors.scss';
@import '~@styles/mixins/breakpoints.scss';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
  @include respond-to('tablet') {
    margin-top: 150px;
  }
  @include respond-to('phone') {
    margin-top: 30px;
  }
}

.tiles {
  margin-top: 40px;
  border-radius: 20px;
  border: 1px solid #DCDEE1;
  background: $module;
  display: inline-flex;
  padding: 10px;
  gap: 10px;
  align-items: center;
  justify-content: center;

  @include respond-to('phone') {
    flex-direction: column;
    width: 100%;
  }
}

.tile {
  width: 385px;
  height: 130px;

  @include respond-to('tablet') {
    width: 250px;
  }

  @include respond-to('phone') {
    width: 100%;
  }
}

.icon {
  width: 40px;
  height: 40px;
  color: $brand;
}

.name {
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
}

.loader {
  margin: 80px auto;
}