.root {
    font-family: Gilroy sans-serif;
}

.h3 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
}

.h4 {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}

.subtext {

}
