@import '~@styles/colors.scss';

.legend {
  display: flex;
  gap: 40px;
  width: 100%;
  align-items: start;
}

.title {
  flex: 1;
  min-width: 30%;
}

.marks {
  margin-top: -5px;
}

.mark {
  display: inline-flex;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: $dark;
}

.title {
  color: $darker;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  display: flex;
  align-items: center;
}