@import '~@styles/colors.scss';
@import '~@styles/mixins/breakpoints.scss';


.root {
  @include respond-to('phone') {
    transform: scale(0.6);
  }
}

.copyright {
  padding-top: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  color: $dark;
}