@import '~@styles/colors.scss';

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.tileIcon {
  border-radius: 8px;
  background-color: rgba(237, 238, 240, .5);
  padding: 8px;
  display: flex;
}

.tileName {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}