@import '~@styles/colors.scss';
@import '~@styles/mixins/breakpoints.scss';

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background-color: $gray;
  color: $dark;
  cursor: pointer;

  @include respond-to('phone') {
    width: 24px;
    height: 24px;
    border-radius: 10px;
  }

  svg {
    width: 20px;
    height: 20px;

    @include respond-to('phone') {
      width: 16px;
      height: 16px;
    }
  }
}