@import '~@styles/colors.scss';

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background-color: $gray;
  color: $dark;
  cursor: pointer;

  svg {
    width: 20px;
    height: 20px;
  }
}