@import '~@styles/colors.scss';

.root {
  display: flex;
  align-items: center;
  gap: 35px;
  justify-content: space-between;
}

.title {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}