@import '~@styles/colors.scss';

.root {
  width: 100%;
}

.copyright {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  color: $dark;
}

.legend {
  margin-top: 20px;
  margin-bottom: 20px;
}