@import '~@styles/colors.scss';

.copyright {
  padding: 0 35px 20px 35px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  color: $dark;
}

.legend {
  margin-top: 20px;
  margin-bottom: 20px;
}