@import '~@styles/colors.scss';

.root {
  .tooltipContent {
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: $black;
    padding: 8px 10px;
    border-radius: 12px;
    box-shadow: 0 9px 18px 0 rgba(19, 20, 23, .05);
    border: solid 1px $border;
    background-color: $module;
    opacity: 1;

    &::after, &::before {
      display: none;
    }
  }
}
