@import '~@styles/colors.scss';
@import '~@styles/mixins/breakpoints.scss';

.root {

}

.header {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid $gray;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include respond-to('phone') {
    flex-direction: column;
    gap: 20px;
    align-items: normal;
  }
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: black;
}

.controls {
  display: flex;
  gap: 10px;
}

.search {
  width: 475px;
  height: 40px;

  @include respond-to('phone') {
    width: 100%;
  }
}

.section {


  &:not(:last-child) {
    border-bottom: 1px solid $border;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}

.heading {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: black;
  margin-bottom: 10px;
}

.tiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;

  @include respond-to('phone') {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
}

.tile {
  justify-content: start;
}

.tooltip {
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: $black;
  padding: 8px 10px;
  border-radius: 12px;
  box-shadow: 0 9px 18px 0 rgba(19, 20, 23, .05);
  border: solid 1px $border;
  background-color: $module;
  opacity: 1;

  &::after, &::before {
    display: none;
  }
}
