@import '~@styles/colors.scss';

.root {

}

.header {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #EDEEF0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: black;
}

.controls {
  display: flex;
  gap: 10px;
}

.search {
  width: 475px;
  height: 40px;
}

.content {

}

.section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;

  &:not(:last-child) {
    border-bottom: 1px solid $border;
  }
}

.tile {
  justify-content: start;
}

.tooltip {
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: #131417;
  padding: 8px 10px;
  border-radius: 12px;
  box-shadow: 0 9px 18px 0 rgba(19, 20, 23, .05);
  border: solid 1px $border;
  background-color: $module;
  opacity: 1;

  &::after, &::before {
    display: none;
  }
}
