@import '~@styles/colors.scss';
@import '~@styles/mixins/breakpoints.scss';

.root {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;

  @include respond-to('phone') {
    font-size: 14px;
  }
}

.publicityTogglerLabel {
  @include respond-to('phone') {
    display: none;
  }
}

.title, .row {
  display: grid;
  grid-template-areas: "name type visibility actions";
  grid-template-columns: repeat(3, 1fr) 70px;
  @include respond-to('phone') {
    grid-template-columns: repeat(3, 1fr) 60px;
  }
}

.name, .type, .visibility, .actions {
  text-align: start;
  overflow: hidden;
  display: flex;
}

.name {
  display: block;
  grid-area: name;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.type {
  grid-area: type;
}

.visibility {
  grid-area: visibility;
}

.actions {
  grid-area: actions;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.title, .list {
  padding-left: 20px;
  padding-right: 3px;
}

.loader {
  display: flex;
  justify-content: center;
}

.title {
  background-color: $gray;
  border-radius: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.row {
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;

  & + & {
    border-top: 1px solid $gray;
  }
}