@import '~@styles/colors.scss';

.title, .row {
  display: grid;
  grid-template-areas: "name datasources category type visibility creator actions";
  grid-template-columns: repeat(7, 1fr);
}

.name, .datasources, .category, .type, .visibility, ,.creator, .actions {
  flex: 1;
  text-align: start;
}

.name {
  grid-area: name;
  cursor: pointer;
}

.datasources {
  grid-area: datasources;
}

.category {
  grid-area: category;
}

.type {
  grid-area: type;
}

.visibility {
  grid-area: visibility;
}

.creator {
  grid-area: creator;
}

.actions {
  grid-area: actions;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.title, .list {
  padding-left: 20px;
  padding-right: 3px;
}

.loader {
  display: flex;
  justify-content: center;
}

.title {
  background-color: $gray;
  border-radius: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.row {
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;

  & + & {
    border-top: 1px solid $gray;
  }
}