@import '~@styles/palette.scss';

.root {
  padding: 15px 20px !important;
  border: none !important;
  display: flex;
  gap: 20px;
  align-items: center;
}

.badge {
  font-size: 33.5px;
  color: $dark;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: max-content;
}

.logo {
  display: flex;
  height: 34px;
  width: 104px;
  background-image: url('/img/logo.png');
  background-size: contain;
}

.links {
  flex: 1;
}

.disconnect {
  width: 30px;
  height: 30px;
  padding: 0;
  justify-content: center;
  border-radius: 10px;

  svg {
    width: 14px;
  }
}

.link {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.14;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.dashboard {
  color: $brand;
}