@import '~@styles/colors.scss';

.title {
  align-items: center;
}

.titleIcon {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.branded {
  display: inline-flex;
  vertical-align: middle;
  gap: 6px;
  color: $brand;
  margin: 0 10px;
}