.root {
  padding: 10px;
  border-radius: 10px;
  background: rgba(237, 238, 240, 0.60);
  backdrop-filter: blur(10px);
}

.label {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  margin-bottom: 10px;
  color: #22262B;
}

.item {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #22262B;
}