@import '~@styles/palette.scss';

.root {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  font-size: 16px;
  font-weight: 600;
  color: $dark;
}

.value {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}