@import '~@styles/colors.scss';

.marks {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.mark {
  display: inline-flex;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: $dark;
}

.title {
  color: $darker;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  flex: 1;
  display: flex;
  align-items: center;
}