@import '~@styles/colors.scss';

.root {
  background-color: $gray;
  font-family: Gilroy-Regular, sans-serif;
}

.container {
  width: 1250px;
  margin: 0 auto;
  padding: 26px 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
  height: 100vh;
}

.contentWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}