@import '~@styles/mixins/breakpoints.scss';

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 20px 20px 15px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  min-height: 100vh;

  @include respond-to('tablet') {
    width: auto;
    gap: 40px;
  }

  @include respond-to('phone') {
    width: auto;
    padding: 20px 15px 15px;
    gap: 35px;
  }
}

.contentWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}