@import '~@styles/colors.scss';

.root {
  position: relative;
  padding: 0;
}

.legend {
  display: flex;
  gap: 40px;
}

.titleWrapper {
  padding: 20px 35px 20px 35px;
}

.marks {}

.mark {
  display: inline-flex;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: #79818D;
}

.title {
  color: #22262B;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  flex: 1;
  display: flex;
  align-items: center;
}

.copyright {
  padding: 0 35px 20px 35px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  color: $dark;
}