@import '~@styles/colors.scss';

.root {
  display: inline-flex;
  height: 27px;
  padding: 2px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  border-radius: 10px;
  background: rgba(237, 238, 240, 0.50);
}

.option {
  border-radius: 8px;
  cursor: pointer;
  padding: 5px 10px 3px 10px;
  color: $dark;
  user-select: none;
  display: flex;
  align-items: center;
}

.activeOption {
  background-color: $module;
  color: #131417;
}
